{% extends 'managment/index.html' %}

{% block content %}
    
<div class="row justify-content-center mx-1">
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
  
      <div class="text-center">{{message}}</div>
    </div>
    {% endfor %}
</div> 
    
<div class="container">
    <div class="row justify-content-center mt-1 p-2">
        <div class="col col-sm-8 col-md-6 col-lg-6">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="book" class="form-label">Book</label>
                    <input type="text" class="form-control" id="book" aria-describedby="emailHelp" name="book">
                    <div id="emailHelp" class="form-text">Here specify the book and the verse eg (John 3:16).</div>
                </div>
                <div class="mb-3">
                    <label for="verse" class="form-label">Verser</label>
                    <input type="text" class="form-control" id="verse" aria-describedby="verseHelp" name="verse">
                    <div id="verseHelp" class="form-text">The Bible Verse itself</div>
                </div>

                <div class="mb-3">
                    <label for="Description" class="form-label">Description</label>
                    <textarea class="form-control" id="Description" rows="3" aria-describedby="descriptionhelp" name="description"></textarea>
                    <div id="descriptionhelp" class="form-text">Here give a description  of the sermon</div>

                </div>
            
                <button type="submit" class="btn btn-primary">Send Sermon</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
    