:root {
  --primary-color: #ff0066;
  --secondary-color: #ff4d4d;
  --hover-bg: rgba(255, 0, 102, 0.1);
}
.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
body {
  font-family: "Roboto", sans-serif;
  cursor: none;
}
.custom-cursor {
  width: 20px;
  height: 20px;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.2s ease, background-color 0.2s ease;
}
.btn-primary:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}
.section {
  padding: 80px 0;
}

.section-title {
  margin-bottom: 50px;
  color: var(--primary-color);
  font-weight: 700;
  position: relative;
  display: inline-block;
}
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary-color);
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.back-to-top.show {
  opacity: 1;
  visibility: visible;
}

.back-to-top:hover {
  background-color: var(--secondary-color);
}
.section-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 50px;
  height: 3px;
  background-color: var(--secondary-color);
}
.navbar-brand {
  font-weight: 700;
  color: var(--primary-color) !important;
}
.nav-link {
  position: relative;
  color: var(--bs-body-color);
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: var(--primary-color);
  transition: all 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
  left: 0;
}

.nav-link.active {
  color: var(--primary-color) !important;
}
.hero-section {
  min-height: 500px;
  background: linear-gradient(
      rgba(var(--bs-body-bg-rgb), 0.9),
      rgba(var(--bs-body-bg-rgb), 0.9)
    ),
    url("/static/assets/img/youth.jpg") center/cover;
}
.search-bar {
  max-width: 600px;
  position: relative;
}

.search-bar .btn {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: var(--primary-color);
  border: 0px;
}
.modal-step {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.modal-step.active {
  background-color: var(--primary-color);
  color: white;
}
.auth-form {
  display: none;
}
.auth-form.active {
  display: block;
}
.modal-content {
  border-radius: 1rem;
}
.step-content {
  display: none;
}
.step-content.active {
  display: block;
}
