{% extends 'member/base.html' %}
{% block title %}
Choirs
{% endblock title %}
{% block content %}

<div style="height: 85vh;">
  <section class="section">
    <div class="container">
      <h2 class="section-title text-center">Choir's overview</h2>
      <p>Dancing and praises are forms of worship to our Lord Jesus Christ. Each choir in our church involves a blend of
        the two, ensuring no one is bored in the House of the Lord. In our church there are three choir: Vision, Agape
        and Youth.</p>
      <p>Each of the three are tailored to reach a certain age group specific dance style. For example Agape choir is
        tailored for the young and elder while Youth focuses on the jubiliant youths. The first choir of the church is
        Vision which was formed in the AIC Mavoko ages.</p>
      <p>So far there has being a general growth in the choir department and people joining a choir. Additionally, there
        has been a
        creation of new dance groups such as Patners in Christ(P.I.C) with the aim of being a choir one day.
      </p>
    </div>
  </section>
  <section class="section ">
    <div class="container">
      <h2 class="section-title text-center">List of choirs</h2>
      <p class="text-center">There are no choirs content uploaded yet. Coming soon!😁</p>
    </div>
  </section>
</div>



{% endblock content %}