{% extends 'member/base.html' %}
{% block title %}
Choirs
{% endblock title %}
{% block content %}

<div style="height: 85vh;">
  <section class="section">
    <div class="container">
      <h2 class="section-title text-center">Intro</h2>
    </div>
  </section>
  <section class="section ">
    <div class="container">
      <h2 class="section-title text-center">List of choirs</h2>
      <p class="text-center">There are no choirs content uploaded yet. Coming soon!😁</p>
    </div>
  </section>
</div>



{% endblock content %}