<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
  {% load static %}
  <head>
    <link rel="shortcut icon" href="{% static 'assets/img/OIP.ico' %}" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Aic Macedonia</title>
    <script>
      ;(function () {
        // JavaScript snippet handling Dark/Light mode switching
      
        const getStoredTheme = () => localStorage.getItem('theme')
        const setStoredTheme = (theme) => localStorage.setItem('theme', theme)
        const forcedTheme = document.documentElement.getAttribute('data-bss-forced-theme')
      
        const getPreferredTheme = () => {
          if (forcedTheme) return forcedTheme
      
          const storedTheme = getStoredTheme()
          if (storedTheme) {
            return storedTheme
          }
      
          const pageTheme = document.documentElement.getAttribute('data-bs-theme')
      
          if (pageTheme) {
            return pageTheme
          }
      
          return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
        }
      
        const setTheme = (theme) => {
          if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            document.documentElement.setAttribute('data-bs-theme', 'dark')
          } else {
            document.documentElement.setAttribute('data-bs-theme', theme)
          }
        }
      
        setTheme(getPreferredTheme())
      
        const showActiveTheme = (theme, focus = false) => {
          const themeSwitchers = [].slice.call(document.querySelectorAll('.theme-switcher'))
      
          if (!themeSwitchers.length) return
      
          document.querySelectorAll('[data-bs-theme-value]').forEach((element) => {
            element.classList.remove('active')
            element.setAttribute('aria-pressed', 'false')
          })
      
          for (const themeSwitcher of themeSwitchers) {
            const btnToActivate = themeSwitcher.querySelector('[data-bs-theme-value="' + theme + '"]')
      
            if (btnToActivate) {
              btnToActivate.classList.add('active')
              btnToActivate.setAttribute('aria-pressed', 'true')
            }
          }
        }
      
        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
          const storedTheme = getStoredTheme()
          if (storedTheme !== 'light' && storedTheme !== 'dark') {
            setTheme(getPreferredTheme())
          }
        })
      
        window.addEventListener('DOMContentLoaded', () => {
          showActiveTheme(getPreferredTheme())
      
          document.querySelectorAll('[data-bs-theme-value]').forEach((toggle) => {
            toggle.addEventListener('click', (e) => {
              e.preventDefault()
              const theme = toggle.getAttribute('data-bs-theme-value')
              setStoredTheme(theme)
              setTheme(theme)
              showActiveTheme(theme)
            })
          })
        })
      })()
    </script>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900&amp;display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;display=swap" />
    <link rel="stylesheet" href="{% static 'assets/css/swiper-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/bs-theme-overrides.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/aos.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/Footer-Dark-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/Lightbox-Gallery-baguetteBox.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/Simple-Slider-swiper-bundle.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/Simple-Slider.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/Team-Horizontal-images.css' %}" />
    <!-- <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}"> -->
  </head>

  <body>
    {% if user.is_authenticated %}
      <nav class="navbar navbar-expand-md bg-dark py-3" data-bs-theme="dark">
        <div class="container">
          <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}"><span>AIC Macedonia</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navcol-5">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'word' %}">Sermons</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'cedgroups' %}">CED groups</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'sunday-school' %}">Sunday School</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'choirs' %}">Choirs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'churchgallery' %}">Church Gallery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About us</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Profile</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                  <a class="dropdown-item" href="profile/{{ request.user.pk }}/">Update Profile</a>
                  <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                </div>
              </li>
            </ul>
            <div class="theme-switcher dropdown"><a class="dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-sun-fill mb-1">
              <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"></path>
          </svg></a>
      <div class="dropdown-menu"><a class="dropdown-item d-flex align-items-center" href="#" data-bs-theme-value="light"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-sun-fill opacity-50 me-2">
                  <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"></path>
              </svg>Light</a><a class="dropdown-item d-flex align-items-center" href="#" data-bs-theme-value="dark"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-moon-stars-fill opacity-50 me-2">
                  <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"></path>
                  <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"></path>
              </svg>Dark</a><a class="dropdown-item d-flex align-items-center" href="#" data-bs-theme-value="auto"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-circle-half opacity-50 me-2">
                  <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"></path>
              </svg>Auto</a></div>
  </div>
          </div>
        </div>
      </nav>
    {% else %}
      <nav class="navbar navbar-expand-md bg-dark py-3" data-bs-theme="dark">
        <div class="container">
          <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}"><span>AIC Macedonia</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navcol-5">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'word' %}">Sermons</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About Us</a>
              </li>
            </ul>
            <div class="theme-switcher dropdown"><a class="dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-sun-fill mb-1">
              <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"></path>
          </svg></a>
      <div class="dropdown-menu"><a class="dropdown-item d-flex align-items-center" href="#" data-bs-theme-value="light"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-sun-fill opacity-50 me-2">
                  <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"></path>
              </svg>Light</a><a class="dropdown-item d-flex align-items-center" href="#" data-bs-theme-value="dark"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-moon-stars-fill opacity-50 me-2">
                  <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"></path>
                  <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"></path>
              </svg>Dark</a><a class="dropdown-item d-flex align-items-center" href="#" data-bs-theme-value="auto"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-circle-half opacity-50 me-2">
                  <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"></path>
              </svg>Auto</a></div>
  </div>
          </div>
        </div>
      </nav>
    {% endif %}
    <header class="text-center text-white masthead">
      <div class="masthead-content">
        <div class="container">
          <h1 data-aos="zoom-out" data-aos-duration="800" data-aos-delay="50" class="masthead-heading mb-0">Welcome to AIC Macedonia</h1>
          <h2 class="masthead-subheading mb-0">The place where God is found</h2>
          <a class="btn btn-primary btn-xl rounded-pill mt-5" role="button" href="{% url 'about' %}">Learn More</a>
        </div>
      </div>
      <div class="bg-circle-1 bg-circle"></div>
      <div class="bg-circle-2 bg-circle"></div>
      <div class="bg-circle-3 bg-circle"></div>
      <div class="bg-circle-4 bg-circle"></div>
    </header>
    <div class="container">
      <section class="hero">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mt-2">
              <p class="mt-3">We are a community of believers who are passionate about spreading the love of God. We believe that Love and Faith are the key principles for a life of a true christian</p>
              <div class="accordion shadow" id="accordionExample">
                <div class="accordion-item mb-2">
                  <h2 class="accordion-header" id="headingOne"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Mission</button></h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">AIC Macedonia is a Christian family committed in doing Christian reconstruction which involves creation of mandates (Gen 1:26) and the great commission (Matt 28: 18)</div>
                  </div>
                </div>
                <div class="accordion-item mb-2">
                  <h2 class="accordion-header" id="headingOne"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">Vision</button></h2>
                  <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">Worship God in truth and in the Spirit (John 4:24)</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mt-1 d-none d-lg-block">
              <img src="{% static 'assets/img/pulpit.jpg' %}" alt="Church Image" class="img-fluid" style="border-radius: 20px" />
            </div>
          </div>
        </div>
      </section>
      <div class="container mt-2">
        <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img src="{% static 'assets/img/jesus.jpg' %}" class="w-100 d-block" alt="First slide" style="border-radius: 20px" />
              <div class="carousel-caption">
                <h3 class="text-light">Weekly sessions</h3>
                <p class="d-none d-md-block text-light">We have specifically designed worship events throughout the week to ensure you have a moment with the Lord every day of the week</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{% static 'assets/img/people.jpg' %}" class="w-100 d-block" alt="Secondslide" style="border-radius: 20px" />
              <div class="carousel-caption">
                <h3 class="text-light">One on one meetings</h3>
                <p class="d-none d-md-block text-light">We have specifically designed worship events throughout the week to ensure you have a moment with the Lord every day of the week</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{% static 'assets/img/08.jpg' %}" class="w-100 d-block" alt="Third slide" style="border-radius: 20px" />
              <div class="carousel-caption">
                <h3 class="text-light">Open to everyone</h3>
                <p class="text-light d-none d-md-block">We have specifically designed worship events throughout the week to ensure you have a moment with the Lord every day of the week</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <!-- Featured Section -->
      <section class="featured mb-4 mt-2">
        <div class="container mt-2">
          <h2 class="text-center mt-3 text-decoration-underline">Featured Departments and Ministries</h2>
          <div class="row justify-content-center">
            <div class="col-lg-4">
              <div class="card mt-3" style="border-radius: 20px">
                <img src="{% static 'assets/img/youth.jpg' %}" alt="Ministry Image" class="card-img-top" style="border-radius: 20px" />
                <div class="card-body">
                  <h5 class="card-title">1. Choirs</h5>
                  <p class="card-text">
                    These are uniquely designed groups where persons with vocal and dance skills can showcase their talents to the congregation.<br /><a href="{% url 'choirs' %}">Learn more</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mt-3">
              <div class="card" style="border-radius: 20px">
                <img src="{% static 'assets/img/ced.jpg' %}" alt="Ministry Image" class="card-img-top" style="border-radius: 20px" />
                <div class="card-body">
                  <h5 class="card-title">2. C.E.D Groups</h5>
                  <p class="card-text">
                    Wondering where you could meet your peers and discuss your issues? Then worry not. These are groups set aside for that purpose.<br /><a href="{% url 'cedgroups' %}">Learn more</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mt-3">
              <div class="card" style="border-radius: 20px">
                <img src="{% static 'assets/img/sunday.jpg' %}" alt="Ministry Image" class="card-img-top" style="border-radius: 20px" />
                <div class="card-body">
                  <h5 class="card-title">3. Sunday School</h5>
                  <p class="card-text">
                    In our church we do believe that bringing up of a child should also include spiritual guidance and mentorship. This lead to the invention of this department <br /><a href="{% url 'sunday-school' %}">Learn more</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mt-3">
              <div class="card" style="border-radius: 20px">
                <img src="{% static 'assets/img/prayercell.jpg' %}" alt="Ministry Image" class="card-img-top" style="border-radius: 20px" />
                <div class="card-body">
                  <h5 class="card-title">4. Prayer Cells</h5>
                  <p class="card-text">
                    These are channels crafted to ensure that the ministry continues to reach you even if you are unable to visit our main santuary <br /><a href="{% url 'prayer-cells' %}">Learn more</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="text-center">
      <div class="container text-muted py-4 py-lg-5">
        <p class="mb-0">
          Copyright © 2024 <a href="{% url 'dashboard' %}">AIC Macedonia</a>
        </p>
      </div>
    </footer>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/aos.min.js' %}"></script>
    <script src="{% static 'assets/js/bs-init.js' %}"></script>
    <script src="{% static 'assets/js/Lightbox-Gallery-baguetteBox.min.js' %}"></script>
    <script src="{% static 'assets/js/Lightbox-Gallery.js' %}"></script>
    <script src="{% static 'assets/js/Simple-Slider-swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/Simple-Slider.js' %}"></script>
    <!-- <script src="{% static 'assets/js/bootstrap.bundle.js' %}"></script> -->
  </body>
</html>
