{% extends 'member/base.html' %}
{% block title %}
PrayerCells
{% endblock title %}
{% block content %}
<section class="section">
  <div class="container">
    <h2 class="section-title text-center">What are prayercells?</h2>
    <p>These are sub sections of the prayer and interaction channel department of the church. Their aim is outreach to
      everyone despite their diffrent locations of stay.</p>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="section-title text-center">How do they work?</h2>
    <p>They are all specifically and uniquely designed throughout the week across different residence. Members then meet
      to the
      agreed home, share a word, a meal if possible and a prayer.
      <strong>
        Time of meetup is usually from 5:30pm to 7:00pm
        depending on the hosting home.
      </strong>
    </p>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="section-title text-center">Where to meet next?</h2>
    <p>During every Sunday service, an announcement is made concerning the prayer cells, in which the number of attended
      members is made clear and the next home to visit.</p>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="section-title text-center">How to join?</h2>
    <p>Joining is quite easy, just identify the area of residence among the list of prayer cells areas and join the one
      that is
      near you. If the available ones aren't satisfactory to you, you can always join the general prayer cell held in
      the main
      church premises</p>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="section-title text-center">Distribution of prayercells</h2>
    <div class="table-responsive-sm">
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th scope="col">Day</th>
            <th scope="col">Region</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">Monday</td>
            <td>None</td>
          </tr>
          <tr>
            <td scope="row">Tuesday</td>
            <td>Mlolongo, Sunset, KMC</td>
          </tr>
          <tr>
            <td scope="row">Wednesday</td>
            <td>City Carton, Kitengela, Greatwall</td>
          </tr>
          <tr>
            <td scope="row">Thursday</td>
            <td>Main Santuary, Pastor's office day</td>
          </tr>
          <tr>
            <td scope="row">Friday</td>
            <td>Sabaki, Jamcity</td>
          </tr>
          <tr>
            <td scope="row">Saturday</td>
            <td>None</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</section>

{% endblock content %}