{% extends 'member/base.html' %}
{% block title %}
PrayerCells
{% endblock title %}
{% block content %}
<section class="section">
  <container>
    <h2 class="section-title text-center">What are prayercells?</h2>
  </container>
</section>
<section class="section">
  <div class="container">
    <h2 class="section-title text-center">Distribution of prayercells</h2>
    <div class="table-responsive-sm">
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th scope="col">Day</th>
            <th scope="col">Region</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">Monday</td>
            <td>None</td>
          </tr>
          <tr>
            <td scope="row">Tuesday</td>
            <td>Mlolongo, Sunset, KMC</td>
          </tr>
          <tr>
            <td scope="row">Wednesday</td>
            <td>City Carton, Kitengela, Greatwall</td>
          </tr>
          <tr>
            <td scope="row">Thursday</td>
            <td>Main Santuary, Pastor's office day</td>
          </tr>
          <tr>
            <td scope="row">Friday</td>
            <td>Sabaki, Jamcity</td>
          </tr>
          <tr>
            <td scope="row">Saturday</td>
            <td>None</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</section>
{% endblock content %}