{% extends 'member/base.html' %}
{% load static %}
{% block title %}
Sunday School
{% endblock title %}
{% block content %}
<p class="display-5 text-center pt-3">Sunday school's overview</p>
<section class="section">
  <div class="container">
    <h2 class="section-title text-center">Memory Verse</h2>
    <h4>Proverbs 22:6 </h4>
    <p>Teach children how they should live, and they will remember it all their life. (Good News Version)</p>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="section-title text-center">Mission and Aspirations</h2>
    <p>Training the children in the word of our Lord Jesus Christ. Equipping them with the teachings and value from the
      Bible. Ensuring every child has their roots in the Word.</p>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="section-title text-center">Sessions</h2>
    <p>Training session are done during the preaching session of the main service while some are done in the santuary in
      Jamcity during the morning hours every Sunday</p>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="section-title text-center">Sunday school's gallery</h2>
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-6 col-lg-4 mb-3"><img src="{% static 'img/ced.jpg' %}" alt=""
          class="img-fluid rounded-2">
      </div>
      <div class="col-sm-10 col-md-6 col-lg-4 mb-3"><img src="{% static 'img/ced.jpg' %}" alt=""
          class="img-fluid rounded-2">
      </div>
      <div class="col-sm-10 col-md-6 col-lg-4 mb-3"><img src="{% static 'img/ced.jpg' %}" alt=""
          class="img-fluid rounded-2">
      </div>
      <div class="col-sm-10 col-md-6 col-lg-4 mb-3"><img src="{% static 'img/ced.jpg' %}" alt=""
          class="img-fluid rounded-2">
      </div>
      <div class="col-sm-10 col-md-6 col-lg-4 mb-3"><img src="{% static 'img/ced.jpg' %}" alt=""
          class="img-fluid rounded-2">
      </div>
      <div class="col-sm-10 col-md-6 col-lg-4 mb-3"><img src="{% static 'img/ced.jpg' %}" alt=""
          class="img-fluid rounded-2">
      </div>
    </div>

  </div>
</section>



{% endblock content %}